{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-constructor-return": 2,
    "no-duplicate-imports": 2,
    "no-self-compare": 2,
    "no-unreachable-loop": 2,
    "no-var": 2,
    "no-useless-return": 2,
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "spaced-comment": 2
  }
}